<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="w3-container w3-blue-grey">

    <div class="w3-bar w3-light-grey">
      <a href="/" class="w3-bar-item w3-btn">
      <a href="/static_pages/home" class="w3-bar-item w3-btn">HOME</a>
       <a href="/users" class="w3-bar-item w3-btn">USERS</a> 
      <a href="/static_pages/help" class="w3-bar-item w3-btn">HELP</a>
      <a href="/static_pages/about" class="w3-bar-item w3-btn">ABOUT</a>
    </div>

   <div class="w3-container">
    <%= yield %>
   </div>    

  </body>
</html>